.collection-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--grid-gap);
}

.collection__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    height: 80px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* LEFT SIDE */
.collection__display {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding-left: 35px;
}

.collection__display span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.collection__display svg {
    width: 24px;
    height: 24px;
}

/* CENTER */
.collection__header>h1 {
    margin: 0;
    text-align: center;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
}

/* RIGHT SIDE */
.collection__actions {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.collection__actions button {
    width: 50%;
    border: none;
    border-left: 1px solid #ddd;
    background: transparent;

    font-size: 14px;
    letter-spacing: 3px;
    cursor: pointer;
}

.sort-button span {
    margin-left: 8px;
    font-size: 18px;
}


.collection-inner {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
}

@media (max-width: 768px) {
    .collection-products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .collection-products {
        grid-template-columns: 1fr;
    }
}

.collection-product__image {
    margin-bottom: 1rem;
}

.collection-product__title {
    font-size: 1.2rem;
    font-weight: 500;
}

/* FILTERS */

.collection-filters {
    flex-shrink: 0;
    padding: 1.5rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 220px;
    position: sticky;
    top: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    right: 0;
    transition: ease .3s all;
    background-color: white;
    z-index: 999;
}

.collection-filters.open {
    left: 0;
}

.collection-filters__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;


}

.collection-filters__heading svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.collection-filter__option {
    font-size: 1.4rem;
}

.collection-filter__option.is-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.collection-filter:not(:last-child) {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

.collection-filter__options-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* PRICE SLIDER */

.collection-filter__option input[type="range"] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    pointer-events: none;
    background: none;
    -webkit-appearance: none;
    margin: 0;
    cursor: pointer;
}

.collection-filter__price-range-input-min {
    z-index: 1;
}

.collection-filter__price-range-input-max {
    z-index: 2;
}

.collection-filter__price-range {
    position: relative;
    height: 20px;
}

.collection-filter__option input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #111827;
}

.collection-filter__option input[type="range"]::-moz-range-thumb {
    pointer-events: all;
}

.collection-filter__price-range-track {
    background-color: rgba(0, 0, 0, 0.2);
    height: 4px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.collection-filter__option-value {
    display: inline-block;
    min-width: 4rem;
    text-align: center;
    font-weight: 500;
    color: #333;
    background: #f5f5f5;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
}

/* ACTIVE FILTERS */

.collection-filters__active-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.collection-filters__active-filter-swatch {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #111827;
    color: #fff;
    cursor: pointer;
}

.collection-filters__active-filter-swatch-label {
    font-size: 1rem;
    cursor: pointer;
}

/* SWATCH */

.collection-filter__swatch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.collection-filter__swatch input {
    display: none;
}

.collection-filter__swatch label {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.collection-filter__swatch input:checked+label {
    background-color: black;
    color: #fff;
}

.collection-filter__swatch-color label {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.collection-filter__swatch-color input:checked+label {
    border: 2px solid #111827;
}

/* ACCORDION */

.accordion {
    display: block;
    padding-bottom: 1rem;
}

.accordion__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
}

.accordion__header-label {
    font-size: 1.6rem;
    font-weight: 600;
}

.accordion__content {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition:
        visibility 0.3s ease,
        max-height 0.3s ease,
        opacity 0.1s ease;
}

.accordion--open .accordion__content {
    visibility: visible;
    opacity: 1;
    max-height: var(--accordion-content-height);
}

.accordion__toggle-icon {
    transition: transform 0.3s ease;
}

.accordion--open .accordion__toggle-icon {
    transform: rotate(180deg);
}

.collection-filter__price-range-fill {
    background-color: #111827;
    height: 4px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    pointer-events: none;
}